function Game.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
call Bird.new 0
pop this 2
push constant 175
call Pipe.new 1
pop this 0
push constant 375
call Pipe.new 1
pop this 1
push constant 0
pop this 5
push pointer 0
return
function Game.run 0
push argument 0
pop pointer 0
push constant 401
push constant 0
push constant 401
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 9
push constant 55
call Output.moveCursor 2
pop temp 0
push constant 5
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 57
call Output.moveCursor 2
pop temp 0
push this 5
call Output.printInt 1
pop temp 0
push this 2
call Bird.drawBird 1
pop temp 0
push this 0
call Pipe.drawPipes 1
pop temp 0
push this 1
call Pipe.drawPipes 1
pop temp 0
label WHILE_EXP0
push this 3
push constant 0
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop this 3
push this 3
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 4
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push this 4
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop this 3
push this 3
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
call Bird.fly 1
pop temp 0
label IF_FALSE1
push this 0
call Pipe.movePipes 1
pop temp 0
push this 1
call Pipe.movePipes 1
pop temp 0
push pointer 0
call Game.scoreIncrease 1
pop temp 0
push this 2
call Bird.gravityPull 1
pop temp 0
push pointer 0
call Game.collide 1
not
pop this 4
push constant 5
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Game.scoreIncrease 0
push argument 0
pop pointer 0
push constant 11
push constant 57
call Output.moveCursor 2
pop temp 0
push this 0
call Pipe.getXPos 1
push constant 25
add
push constant 80
eq
push this 1
call Pipe.getXPos 1
push constant 25
add
push constant 80
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
push constant 1
add
pop this 5
label IF_FALSE0
push this 5
call Output.printInt 1
pop temp 0
push constant 0
return
function Game.collide 10
push argument 0
pop pointer 0
push this 2
call Bird.getX 1
pop local 0
push this 2
call Bird.getY 1
pop local 1
push this 0
call Pipe.getXPos 1
pop local 2
push this 0
call Pipe.getXPos 1
push constant 25
add
pop local 3
push this 0
call Pipe.getYPosTop 1
pop local 5
push this 0
call Pipe.getYPosBtm 1
pop local 4
push this 1
call Pipe.getXPos 1
pop local 6
push this 1
call Pipe.getXPos 1
push constant 25
add
pop local 7
push this 1
call Pipe.getYPosTop 1
pop local 9
push this 1
call Pipe.getYPosBtm 1
pop local 8
push local 1
push constant 238
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 0
push local 2
gt
push local 1
push local 5
lt
and
push local 0
push local 3
lt
and
push local 0
push local 2
gt
push local 1
push constant 16
add
push local 4
gt
and
push local 0
push local 3
lt
and
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push local 0
push local 6
gt
push local 1
push local 9
lt
and
push local 0
push local 7
lt
and
push local 0
push local 6
gt
push local 1
push constant 16
add
push local 8
gt
and
push local 0
push local 7
lt
and
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
push local 0
push constant 16
add
push local 2
gt
push local 1
push local 5
lt
and
push local 0
push constant 16
add
push local 3
lt
and
push local 0
push constant 16
add
push local 2
gt
push local 1
push constant 16
add
push local 4
gt
and
push local 0
push constant 16
add
push local 3
lt
and
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
push local 0
push constant 16
add
push local 6
gt
push local 1
push local 9
lt
and
push local 0
push constant 16
add
push local 7
lt
and
push local 0
push constant 16
add
push local 6
gt
push local 1
push constant 16
add
push local 8
gt
and
push local 0
push constant 16
add
push local 7
lt
and
or
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
return
label IF_FALSE4
push constant 0
return
